* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143C3C;
    --secondary-color: #E2EDDF
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* ==========================Common=========================== */

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;
    height: var(--height);
    display: inline-block;
    line-height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    min-width: 173px;
    text-align: center;
    border: 1.5px solid var(--primary-color);
    background: var(--primary-color);
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* ==========================Header=========================== */
.header {
    min-height: 100vh;
    font-family: 'Public Sans', sans-serif;
}

.header-fixed {
    position: sticky;
    z-index: 1;
    top: -20px;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    padding: 28px 0 12px;
}

.header-top::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 1140px;
    background: linear-gradient(90deg, #FFFFFF 0%, #DDDCDC 51.09%, rgba(213, 213, 213, 0) 99.68%);
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    margin-right: 69px;
}

.navbar__link {
    padding: 8px 19px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575D5E;
}

.navbar__link:hover,
.navbar__link-active {
    position: relative;
    color: #152427;

}

.navbar__link-active::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    left: 19px;
    bottom: -23px;
}