* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143C3C;
    --secondary-color: #E2EDDF
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* ==========================Common=========================== */

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;
    height: var(--height);
    display: inline-block;
    line-height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    min-width: 173px;
    text-align: center;
    border: 1.5px solid var(--primary-color);
    background: var(--primary-color);
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* ==========================Header=========================== */
.header {
    min-height: 100vh;
    font-family: 'Public Sans', sans-serif;
}

.header-fixed {
    position: sticky;
    z-index: 1;
    top: -20px;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    padding: 28px 0 12px;
}

.header-top::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 1140px;
    background: linear-gradient(90deg, #FFFFFF 0%, #DDDCDC 51.09%, rgba(213, 213, 213, 0) 99.68%);
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    margin-right: 69px;
}

.navbar__link {
    padding: 8px 19px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575D5E;
}

.navbar__link:hover,
.navbar__link-active {
    position: relative;
    color: #152427;

}

.navbar__link-active::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    left: 19px;
    bottom: -23px;
}

/* ==========================Hero=========================== */
.hero {
    display: flex;
    align-items: center;
    column-gap: 76px;
    margin-top: 28px;
}

.hero__heading {
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
    width: 368px;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575D5E;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
    column-gap: 36px;
    width: 393px;
}

.hero-watch {
    display: flex;
    align-items: center;
    column-gap: 15px;
    position: relative;
}

.hero-watch:hover {
    opacity: 0.5;
}

.hero-watch__border {
    position: absolute;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.hero-watch__play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83A17D;
}

.hero-watch__title {
    width: 118px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #152427;
}

/* ==========================Hero media=========================== */

.hero__images {
    position: relative;
    column-gap: 20px;
    padding-top: 32px;
}

.hero__images::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    top: 122px;
    left: 156px;
}


.flower-01 {
    position: absolute;
    left: -172px;
    top: 0;
    width: 545px;
    height: 361.17px;
    z-index: 2;
}

.flower-02 {
    position: absolute;
    bottom: -149px;
    left: 62px;
    width: 545px;
    height: 364.1px;
    transform: rotate(183.95deg);
    z-index: 2;
}


.flower-01__vector,
.flower-02__vector,
.flower-01__icon,
.flower-02__icon {
    position: absolute;
}

.flower-02__vector {
    transform: rotate(175.95deg);
}

.flower-01__icon {
    top: 8px;
    left: -39px;
    z-index: 2;
}

.flower-02__icon {
    transform: rotate(170deg);
    top: 60px;
    left: -38px;
    z-index: 2;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    z-index: 1;
}

.hero__img--2 {
    position: relative;
    top: 77px;
}